:root {
    --dark: #171721;
    --purple: #872B97;
    --orange: #FF7130;
    --salmon: #ff3c68;
    --gray: #f9f9f9;
  }

p, a, td, th, select, option, label {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--gray);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

label {
    color: var(--gray);
}

a, a:visited {
    color: var(--orange);
}

a:hover {
    color: var(--purple)
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--dark);
    }

p, td {
    color: var(--gray);
    margin: 0;
    }

th, select, option {
    color: var(--orange) !important;
}
