{% extends 'base.html' %} 

{% block content %}
    <h1>All Launches</h1>

    <table id="all_launches" class="display">
        <thead>
            <tr>
                <th>Launch</th>
                <th>Status</th>
                <th>NET</th>
                <th>LSP</th>
                <th>Mission Name</th>
                <th>Launch Location</th>
            </tr>
        </thead>
        <tbody>
            {% for launch in launches %}
            <tr>
                <td>{{ launch.name }}</td>
                <td>{{ launch.status_name }}</td>
                <td>{{ launch.net }}</td>
                <td>{{ launch.launch_service_provider_name }}</td>
                <td>{{ launch.mission_name }}</td>
                <td>{{ launch.pad_location_country_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#all_launches').DataTable();
        } );
    </script>
{% endblock %}